<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Artesanías Arkakay</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Souvenires · Artesanías</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Attenza</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/Attenza.png</string>
		<key>Website</key>
		<string>Attenza.net</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Duty Free · Accesorios</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2b423b7e10288882a0</string>
		<key>Floor Number_2</key>
		<string>1 (Llegadas)</string>
		<key>Area_2</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location_2</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Map Location ID_2</key>
		<string>55915c28423b7e1028888251</string>
		<key>Additional Information</key>
		<string>Esta importante marca está en varios aeropuertos de la región en los cuales ha unificado precios.
        
        Entre los productos que se más se venden, Attenza destaca los incluidos en las categorías de perfumería y licor. Sin embargo, esta prestigiosa empresa cuenta con aproximadamente 500 marcas de gran nombre a nivel mundial.
        
        Attenza dispone de 1200 metros cuadrados en el almacén de salida y de 640 metros cuadrados en el de llegada.
        
        En lo que respecta al transporte de licor, Attenza ofrece a los pasajeros en tránsito un empaque de seguridad: se trata de una bolsa plástica con un sellamiento especial. Para los viajeros que no hacen tránsito, ofrecen el producto en una bolsa más sencilla del almacén.
        
        Horario de Atención: De 5:30 am (apertura) a 1:30 am (Cierre) en los duty free de salida y llegada.
        
        “El Dorado como vitrina comercial es la puerta al mundo para dar a conocer nuestros productos a clientes internos y externos”, afirmó Sonia López, gerente de Attenza.</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bacata</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/BacataNew.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Joyería · Accesorios · Artesanías</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2a423b7e1028888293</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Britt Shop Colombia</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string>Brittshop.com</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Souvenires · Regalos · Artesanías</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2c423b7e10288882bb</string>
		<key>Floor Number_2</key>
		<string>2 (Salidas)</string>
		<key>Area_2</key>
		<string>Pública</string>
		<key>Location_2</key>
		<string>Muelle Nacional</string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Café Colombiano</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Tienda de Café</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2d423b7e10288882d7</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cueros y Artesanías</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string>CuerosYArtesanias.com</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Joyería · Accesorios</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2d423b7e10288882cf</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dof Artesanías</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Souvenires · Regalos · Artesanías</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2d423b7e10288882cf</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Droguería Colsubsidio</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/DrogueriasColsubsidio.png</string>
		<key>Website</key>
		<string>DrogueriasColsubsidio.com</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Farmacia</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>1 (Llegadas)</string>
		<key>Area</key>
		<string>Pública</string>
		<key>Location</key>
		<string>Terminal Unificada</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c36423b7e10288883b5</string>
		<key>Floor Number_2</key>
		<string>2 (Salidas)</string>
		<key>Area_2</key>
		<string>Pública</string>
		<key>Location_2</key>
		<string>Terminal Unificada</string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Map Location ID_2</key>
		<string>55915c2e423b7e10288882ee</string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Duetto Galería</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Joyería · Accesorios</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2a423b7e1028888299</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Duty Free Americas</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/DutyFreeAmericas1.png</string>
		<key>Website</key>
		<string>DutyFreeAmericas.com</string>
		<key>Category ID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Duty Free</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Floor Number_2</key>
		<string>1 (Llegadas)</string>
		<key>Area_2</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location_2</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string>Duty Free Américas busca destacarse en el Aeropuerto Internacional El Dorado Luis Carlos Galán Sarmiento por el servicio que presta, por disponer de personal altamente calificado que da la bienvenida a los pasajeros con calidez y, en general, por la gran gama de productos que ofrecen en perfumería, licores, chocolatería y cigarrillos.
            
            Licores y Perfumería, son las dos categoría que más venden en el Duty Free Américas, siendo la primera en mención, la líder.
            
            En el aeropuerto capitalino, el duty free Américas cuenta con cuatro tiendas: tres en zona de llegada ( de 19, 13 y 41 metros cuadrados) y la cuarta tienda, en la zona de salidas internacionales, de 15 metros cuadrados.
            
            Su portafolio de productos es muy amplio: En la categoría de licores, cuenta con aproximadamente 40 marcas; en Fragancias por lo menos con 50; en chocolatería con unas 25, y en cigarrillos con 7 marcas.
            
            En cuanto al licor, lo empacan en cajas de cartón con logo de la compañía. Pero, cuando el pasajero que debe hacer conexión lo solicita, éste es empacado en bolsas de seguridad que se ajustan a los requerimientos establecidos en aeropuertos de otros países.
            
            Horario de Atención: De 5.00 am (apertura) a 3:00 am (Cierre) en todas las tiendas (salida y llegada).</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>El Forum</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/Forum.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Duty Free · Libreria</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Terminal Unificada</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c29423b7e102888826f</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>El Market Colombia</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/ElMarket.png</string>
		<key>Website</key>
		<string>ElMarketColombia.inf.travel</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Souvenires · Regalos · Artesanías</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Pública</string>
		<key>Location</key>
		<string>Terminal Unificada</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Floor Number_2</key>
		<string>1 (Llegadas)</string>
		<key>Area_2</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location_2</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>El Viajero</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>Category</key>
		<string>Tienda</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Type</key>
		<string>Duty Free</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c38423b7e10288883e0</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Emeraldme</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Joyería</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Expobazar</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Joyería · Artesanías</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2d423b7e10288882d4</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Fly</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Souvenires</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2d423b7e10288882e0</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Galería Cano</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Gifts · Joyería · Accesorios · Artesanías</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2a423b7e102888828f</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string>Galería Cano promueve y vende la producción artesanal de las comunidades indígenas y campesinas colombianas</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gift Shop</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Souvenires · Ropa · Joyería</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Pública</string>
		<key>Location</key>
		<string>Terminal Unificada</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2c423b7e10288882ba</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Global Prepaid</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Technología</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c35423b7e102888839c</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Imaginarium</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/Imaginarium.png</string>
		<key>Website</key>
		<string>Imaginarium.ie</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Ropa · Juguetes</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Terminal Unificada</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2b423b7e10288882a1</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>L.A. Cano</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/cano.jpg</string>
		<key>Website</key>
		<string>LACano.co</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Joyería</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2d423b7e10288882d3</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>La Maja</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Duty Free</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c36423b7e10288883b1</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>La Riviera</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/LaRivieraNew.png</string>
		<key>Website</key>
		<string>LaRiviera.com.co</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Cosméticos · Perfumería</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>1 (Llegadas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Floor Number_2</key>
		<string>2 (Salidas)</string>
		<key>Area_2</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location_2</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string>En La Riviera Duty Free del Aeropuerto Internacional El Dorado Luis Carlos Galán Sarmiento los pasajeros de salidas internacionales pueden disponer de marcas de lujo y de belleza exclusivas como Lancome, Clinique, Estee Lauder, YSL, y de Boutiques de las marcas más importantes del mundo tales como Chanel, MAC, Bulgari, Burberry, Michael Kors, TOUS y Relojes TAG, Brietling y Hublot, entre otras.
                
                La Riviera Duty Free se ha caracterizado por ofrecer a sus clientes una variedad muy importante de marcas y productos en las categorías de fragancias, cosméticos y tratamientos, siendo estos los productos líderes en ventas, gracias al respaldo de una fuerte organización. Sin embargo, no menos importantes han sido sus tiendas y boutiques de Relojería y Joyería que han sido muy bien recibidas por el público que transita en el área de salidas internacionales.
                
                Las tiendas duty free La Riviera en el Aeropuerto cuentan con un espacio superior a los 1300 metros cuadrados, y poseen un diseño muy agradable para que la experiencia de compra esté a la altura de los clientes que realizan sus viajes internacionales desde El Dorado.
                
                En lo que respecta a empaque del licor, las tiendas duty free La Riviera ofrecen a sus clientes la opción de empacar el licor en cajas perfectamente diseñadas para el transporte de estos productos. Próximamente contarán de nuevo con las bolsas de seguridad denominadas STEBS, que ofrecerán mayor comodidad para el transporte de licor, cumpliendo con los estándares internacionales.
                
                ” El Dorado es hoy en día uno de los Aeropuertos más importantes y de mayor tráfico de Latinoamérica, lo que permite demostrar a todos los viajeros que en nuestro país también pueden encontrar marcas de lujo de talla mundial, como es el caso de las que La Riviera Duty Free ha traído al mercado colombiano. Es una oportunidad para todos esos turistas que nos visitan y todos los colombianos que viajan al exterior, se puedan complacer y disfrutar de productos exclusivos que no encuentran en el mercado regular”, aseguró Orlando Fernández Gerente Filial, duty free La Riviera Aeropuerto El Dorado.
                
                Horario de Atención:
                Las tiendas duty free La Riviera están abiertas al público desde las 5:30 am (apertura) hasta las 11:00 pm (Cierre), todos los días de la semana. Para aquellos pasajeros que tienen un vuelo en un horario diferente a este, existen 3 tiendas distribuidas en diferentes puntos de la terminal internacional: La Maja, Forum y El Viajero, las cuales están abiertas al público las 24 horas del día y ofrecen también productos y marcas exclusivas de las categorías de Fragancias, Electrónica, Lentes, Licores, Cigarrillos y Confitería.
            </string>
	</dict>
	<dict>
		<key>Name</key>
		<string>La Tienda del Zipa</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/TiendaDelZipa.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Joyería · Artesanías</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Pública</string>
		<key>Location</key>
		<string>Terminal Unificada</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2b423b7e10288882a2</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Librería El Dorado</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/LibreriaElDorado.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Libreria</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Nacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Floor Number_2</key>
		<string>1 (Llegadas)</string>
		<key>Area_2</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location_2</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mario Hernández</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/MarioHernandez.png</string>
		<key>Website</key>
		<string>MarioHernandez.com</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Marroquinería · Ropa</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2e423b7e10288882e7</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Moaxy</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Joyería</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2b423b7e10288882ae</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Nora Lozza</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Accesorios</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2a423b7e102888829a</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Power Store</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Tecnología</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Pública</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2d423b7e10288882dd</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Prec. La Ermita</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Souvenires · Regalos · Artesanías</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2d423b7e10288882ce</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>República del Cacao</string>
		<key>Logo URL</key>
		<string></string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string></string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Smaragdus</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Joyería · Artesanías</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sterling Joyeros</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Duty Free · Joyería</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2c423b7e10288882c0</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Studio F</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/StudioF.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Ropa · Accesorios</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2d423b7e10288882d6</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tech Port</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Tecnología</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Terminal Unificada</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2c423b7e10288882ca</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Time Square</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/TimeSquareNEW.png</string>
		<key>Website</key>
		<string>TimeSquare.com.co</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Relojería</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Pública</string>
		<key>Location</key>
		<string>Terminal Unificada</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2e423b7e10288882f0</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tisquesusa</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/themes/hostmev2-child/images/Logo_Missing.png</string>
		<key>Website</key>
		<string></string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Souvenires · Regalos · Artesanías</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Totto</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/Totto.png</string>
		<key>Website</key>
		<string>http://www.totto.com/</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Vestuario</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Pública</string>
		<key>Location</key>
		<string>Terminal Unificada</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2c423b7e10288882be</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Vélez</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/02/Velez.png</string>
		<key>Website</key>
		<string>http://www.velez.com.co/</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Marroquinería · Vestuario</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2c423b7e10288882c3</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Vôle by Joyarte</string>
		<key>Logo URL</key>
		<string>http://cdn.eldorado.creativivo.com/wp-content/uploads/2014/03/Joyarte.png</string>
		<key>Website</key>
		<string>http://www.vole.com.co/</string>
		<key>CategoryID</key>
		<string>0</string>
		<key>Category</key>
		<string>Tienda</string>
		<key>Type</key>
		<string>Joyería · Accesorios</string>
		<key>Main Phone Number</key>
		<string></string>
		<key>Floor Number</key>
		<string>2 (Salidas)</string>
		<key>Area</key>
		<string>Sólo Pasajeros (Restringida)</string>
		<key>Location</key>
		<string>Muelle Internacional</string>
		<key>Map Image URL</key>
		<string></string>
		<key>Map Location ID</key>
		<string>55915c2e423b7e10288882ef</string>
		<key>Floor Number_2</key>
		<string></string>
		<key>Area_2</key>
		<string></string>
		<key>Location_2</key>
		<string></string>
		<key>Map Image URL_2</key>
		<string></string>
		<key>Additional Information</key>
		<string></string>
	</dict>
</array>
</plist>
